.ButtonEl {
  text-align: center;
  padding: 0 20px;
}

.ButtonEl-btn {
  margin: 15px auto;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background-color: rgb(157, 201, 137);
  border-radius: 3px;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
}

.ButtonEl-btn:active {
  transform: scale(0.9);
}

@media (min-width: 992px) {
  .ButtonEl {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 25px 0;
  }
}
